**/all_*.txt
OSP/.ipynb_checkpoints/
*/batch_log/
O2S/embeddings
O2S/from_noam
O2S
**models/
*.ipynb_checkpoints
*.zip
*.html
*batch_eval/
*.tgz
*.png
**_weights
__pycache__
.vscode
df_1M_200609.csv
concept/acc_sse/1250_sims.csv
